@import "octicon-mixins";

.tab-bar {
  display: flex;
  position: relative;
  margin: 0;
  padding-left: 0;
  height: var(--bar-height);
  line-height: var(--bar-height);
  list-style: none;
  box-shadow: inset 0 -1px 0 var(--border-color);
  background-color: var(--bg-below);
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-user-select: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &:empty {
    display: none;
  }

  .tab {
    position: relative;
    flex: 1;
    max-width: 175px;
    min-width: 40px;
    color: var(--fg-subtle);
    box-shadow: inherit;
    border-left: var(--border);
    transition: max-width .25s ease-in-out;
    -webkit-user-drag: element;

    &.active {
      color: var(--fg);
      background-color: var(--bg);
      box-shadow: none;
    }

    &:first-of-type {
      border-left-color: transparent;
    }
    &:last-of-type {
      // use box-shadow to not take up any space
      box-shadow: inset 0 -1px 0 var(--border-color), 1px 0 0 var(--border-color);
    }
    &.active:last-of-type {
      box-shadow: 1px 0 0 var(--border-color);
    }

    .title {
      overflow: hidden;
      white-space: pre;
      text-align: center;
      text-overflow: ellipsis;
      &.temp {
        font-style: italic;
      }
    }

    .hide-icon {
      &.icon:before {
        display: none;
      }
    }

    // Close icon ----------------------

    .close-icon {
      --size: calc(var(--bar-height) ~'-' var(--spacer-2));

      .octicon(x, 16px);
      position: absolute;
      z-index: 2;
      top: var(--spacer-1);
      right: var(--spacer-1);
      width: var(--size);
      height: var(--size);
      line-height: var(--size);
      text-align: center;
      border-radius: var(--border-radius);
      background-color: inherit;
      overflow: hidden;
      transform: scale(0);
      transition: transform .08s;
      cursor: default;
      &:hover {
        color: var(--accent-fg);
        background-color: var(--accent);
      }
      &:active {
        background-color: var(--bg-below);
      }
      &::before {
        z-index: 1;
        font-size: calc(var(--bar-height) ~'-' var(--spacer-3));
        width: auto;
        height: auto;
        pointer-events: none;
      }
    }
    &:hover .close-icon {
      transform: scale(1);
      transition-duration: .16s;
    }


    // Modified icon ----------------------

    &.modified {
      &:hover .close-icon {
        color: var(--accent);
        &:hover {
          color: var(--accent-fg);
        }
      }
      &:not(:hover) .close-icon {
        color: var(--accent);
        transform: scale(1);
        &::before {
          content: "\f052";
        }
      }
    }
  }

  /* Drag and Drop */

  .tab.is-dragging {
    opacity: .5;

    .close-icon,
    &:before {
      visibility: hidden;
    }
  }

  .placeholder {
    position: relative;
    top: 0;
    padding: 0;
    z-index: 999;
    list-style: none;
    height: inherit;
    background: @background-color-info;
    pointer-events: none;

    // bar
    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      margin: 0;
      width: 2px;
      height: inherit;
      background-color: var(--accent);
    }

    // arrow
    &:after {
      content: "";
      position: absolute;
      z-index: 0;
      top: calc(var(--bar-height) ~'/' 2);
      margin: -4px 0 0 -3px;
      width: 4px;
      height: 4px;
      background: inherit;
      border: 4px solid var(--accent);
      transform: rotate(45deg);
      background: transparent;
    }

    &:last-child {
      &:before {
        margin-left: -2px;
      }
      &:after {
        transform: none;
        margin-left: -10px;
        border-color: transparent var(--accent) transparent transparent;
      }
    }
  }

  &.hidden {
    display: none;
  }

  // Tabs in the docks ----------------------

  atom-dock & {
    .tab.active {
      background-color: var(--bg-below);
    }
  }
}
